<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 cgp-banner-episodes cgp-hero">

    </div>
</div>
<div class="container-fluid">
  <div class="row">
      <%= render "ep_tile/ep_34" %>
      <%= render "ep_tile/ep_33" %>
      <%= render "ep_tile/ep_32" %>
      <%= render "ep_tile/ep_31" %>
      <%= render "ep_tile/ep_30" %>
      <%= render "ep_tile/ep_29" %>
      <%= render "ep_tile/ep_28" %>
      <%= render "ep_tile/ep_27" %>
      <%= render "ep_tile/ep_26" %>
      <%= render "ep_tile/ep_25" %>
      <%= render "ep_tile/ep_24" %>
      <%= render "ep_tile/ep_23" %>
      <%= render "ep_tile/ep_22" %>
      <%= render "ep_tile/ep_21" %>
      <%= render "ep_tile/ep_20" %>
      <%= render "ep_tile/ep_19" %>
      <%= render "ep_tile/ep_18" %>
      <%= render "ep_tile/ep_17" %>
      <%= render "ep_tile/ep_16" %>
      <%= render "ep_tile/ep_15" %>
      <%= render "ep_tile/ep_14" %>
      <%= render "ep_tile/ep_13" %>
      <%= render "ep_tile/ep_12" %>
      <%= render "ep_tile/ep_11" %>
      <%= render "ep_tile/ep_10" %>
      <%= render "ep_tile/ep_9" %>
      <%= render "ep_tile/ep_8" %>
      <%= render "ep_tile/ep_7" %>
      <%= render "ep_tile/ep_6" %>
      <%= render "ep_tile/ep_5" %>
      <%= render "ep_tile/ep_4" %>
      <%= render "ep_tile/ep_3" %>
      <%= render "ep_tile/ep_2" %>
      <%= render "ep_tile/ep_1" %>
  </div>
</div>
